<center><h2>POSTS</h2></center>

<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <div class='posts-container'>
            <% @posts.each do |post| %>

                <%= render partial: 'post', locals: {  post: post } %>

            <% end %>
        </div>

        <center><h3>NEW POST</h3></center>

        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                <%= form_for Post.new, remote: true do |f|  %>
                    <div class="form-group">
                        <%= f.label :title %>
                        <%= f.text_field :title, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :body %>
                        <%= f.text_area :body, class: "form-control" %>
                    </div>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>

    </div>

</div>